ul{
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
p{
    font-size: 24px;
}

.horizontal{
    display: flex;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.headerHero{
    display: flex;
    gap: 0.5rem;

}
.hero{
    min
}

nav{
    display: flex;
    flex-direction: row-reverse;
    max-width: fit-content;
}
body{
    border: 0;
    margin: 2rem;
}
.jens{
    color: black;
}
.mainScrollContentListItem{
    max-width: 50rem;
}